@charset "UTF-8";

/* Universal Styles */

html {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-size: 14px;
  background-color: white;
}

body {
  line-height: 1.4rem;
}

.container {
  max-width: 1110px;
  margin: auto;
}

.flex {
  display: flex;
}

a {
  color: white;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

li {
  text-align: 
}


/* Header */

header {
  background-image: url(resources/enjoy-sunset.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 1rem;
  height: 30rem;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.1;
}

/* Navigation Bar */

nav {
  padding: 1rem 0;
  background-color: #846d71;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: .65;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

ul {
  margin-right: 1rem;
}

ul li {
  display: inline;
  padding: 1rem 1rem;
}

.truncated-menu {
  display: none;
}

header .flex {
  justify-content: flex-end;
}

/* Main Headline */
.main {
  text-align: center;
  padding: 10px;
  margin: 10px;
  height: auto;
  width: auto;
}

/* content cards */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #e3cca0;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


/* Footer */

footer {
  background-color: #7c8992;
  margin-top: 4rem;
  margin-bottom: 0rem;
  border-top: 1px solid #eee;
  padding: 2rem 2rem 4rem 2rem;
  color: white;
  font-size: 1rem;
}

@media only screen and (max-width: 640px)  {
  footer {
    justify-content: center;
  }

  footer div {
    display: none;
  }
  }





  /* Responsive CSS */

  @media only screen and (max-width: 1024px) {

    header {
      padding-top: 0;
      height: 22rem;
    }

    nav.container {
      max-width: 100%;
    }

  }


  @media only screen and (max-width: 640px) {
    .menu ul {
      display: none;
    }

    .menu .truncated-menu {
      display: block;
    }


    header {
      background-position: 20%;
      height: 17rem;
    }

  }
